<!DOCTYPE html>
<html>
<head>
<title>MindWatch 💛</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="hero">

<div class="hero-content">

<h1>Hey… we’re here for you 🌅</h1>

<p>
Take a deep breath.  
You don’t have to figure everything out alone.  
We’ll gently walk with you through what you’re feeling 💛
</p>

<!-- USER INFO FORM -->
<form action="/text" method="POST">

<input type="text" name="name" placeholder="Your Name" required><br><br>
<input type="number" name="age" placeholder="Age" min="1" max="100" required>
<input type="email" name="email" placeholder="Email" required><br><br>
<input type="text" name="place" placeholder="Place" required><br><br>


<div class="buttons">
<button type="submit" class="btn">Continue</button>
</div>

</form>

</div>

</div>

</body>
</html>